<h3 class="page-heading">Active Postings</h3>
<% if @farm.active_postings_by_date.present? %>
  <%= render 'shared/postings_list', postings: @farm.active_postings_by_date %>
<% else %>
  <p class="centered">You don't have any active postings.</p>
<% end %>

<h3 class="page-heading">Past Postings</h3>
<% if @farm.inactive_postings.present? %>
  <%= render 'shared/postings_list', postings: @farm.inactive_postings %>
<% else %>
  <p class="centered">You don't have any past postings.</p>
<% end %>
