<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <p>
    <strong>Note:  </strong> FarmToTable was created by Zack Banton in fulfillment of the final project for General Assembly's Web Development Immersive course.  All organizations you see on the site are fictional and all the delicious sounding produce does not actually exist...yet.  Feel free to create your own account or sign in as <strong>farm@example.com (password: password)</strong> to see an example of a farm populated with data OR <strong>restaurant@example.com (password: password)</strong> to see an example of a restaurant.
  </p>
</div>
<div class='homepage'>
  <p class='homepage-text'>Farm to Table</p>
</div>
<div class='features row'>
  <div class='col-md-2'></div>
  <div class='feature col-md-2'>
    <%= image_tag 'corn.svg' %>
    <p>Farmers post products for sale, specifying starting and expiration dates of each posting.</p>
  </div>
  <div class='feature col-md-2'>
    <%= image_tag 'order.png' %>
    <p>Restaurants and other organizations select products for purchase.</p>
  </div>
  <div class='feature col-md-2'>
    <%= image_tag 'truck.png' %>
    <p>Organizations pick orders up from farms on specified dates.</p>
  </div>
  <div class='feature col-md-2'>
    <%= image_tag 'dining.png' %>
    <p>Diners enjoy fresh, local produce!</p>
  </div>
</div>


