<div class='homepage'>
  <p class='homepage-text'>Farm to Table</p>
</div>
<div class='features row'>
  <div class='col-md-2'></div>
  <div class='feature col-md-2'>
    <%= image_tag 'corn.svg' %>
    <p>Farmers post products for sale, specifying starting and expiration dates of each posting.</p>
  </div>
  <div class='feature col-md-2'>
    <%= image_tag 'order.png' %>
    <p>Restaurants and other organizations select products for purchase.</p>
  </div>
  <div class='feature col-md-2'>
    <%= image_tag 'truck.png' %>
    <p>Organizations pick orders up from farms on specified dates.</p>
  </div>
  <div class='feature col-md-2'>
    <%= image_tag 'dining.png' %>
    <p>Diners enjoy fresh, local produce!</p>
  </div>
</div>
