<h3>Active Orders</h3>
<% if @orders.present? %>
  <% @orders.each do |order| %>
    <h3><%= order.created_at.to_formatted_s(:long_ordinal) %></h3>
    <%= render 'order_view', order: order %>
  <% end %>
<% else %>
  <p>You have no active orders</p>
<% end %>



