<h3 class="page-heading">Active Orders (by order date)</h3>
<% if @orders.present? %>
  <% @orders.each do |order| %>
    <h3><%= format_order_date_long(order) %> </h3>
    <%= render 'order_view', order: order %>
  <% end %>
<% else %>
  <p>You have no active orders</p>
<% end %>



